src/tf/sqs-lambda-step/state/step_wait_exec.json
{
    "Comment": "A description of my state machine",
    "StartAt": "Wait",
    "States": {
      "Wait": {
        "Type": "Wait",
        "SecondsPath": "$.waitTime",
        "Next": "Lambda Invoke"
      },
      "Lambda Invoke": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "FunctionName": "${funcname}",
          "Payload.$": "$"
        },
        "End": true,
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "SQS SendMessage"
          }
        ]
      },
      "SQS SendMessage": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sqs:sendMessage",
        "Parameters": {
          "QueueUrl": "${queueurl}",
          "MessageBody.$": "$"
        },
        "End": true
      }
    }
  }
